<%- include('./partials/navbar.ejs') %>
<%- include('./partials/header.ejs') %>

    <section>
        <button id="postBtn">Make Post</button>
        <form id="postForm" action="/posts/new" method="POST" class="hidden">
            <input name="postContent" type="text">
            <button type="submit">Post</button>
        </form>
    </section>
    <section>
        <div class="feed">
            <% allPosts.forEach(post => { %>
                <div class="post">
                    <form  action="/posts/<%=`${post._id}` %>/delete?_method=DELETE" method="POST">
                        <button type="submit" >x</button>
                        <p> 
                        </p>
                    </form> <%= post.postContent %> 
                </div>
         <%  }); %>
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>
